version: "3"

services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "3000:80"
    volumes:
      - "./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro"

  nodeapp:
    build: .
    container_name: starwarsapp
    volumes:
      - "./:/usr/src/app"
      - "/usr/src/app/node_modules"
    environment:
      - PORT=3000
